@model FinalASP.Models.SupplierMatrial
@{
    ViewData["Title"] = "Edit";
}
<partial name="_ResposiveNavPartial" />
<section class="vh73 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-7">Edit Material to supplier</h2>
                            <form method="post" asp-action="Edit" asp-controller="SupplierMatrial" enctype="multipart/form-data">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <input type="hidden" asp-for="id"  />
                                <input type="hidden" asp-for="Supplier" value="@Model.Supplier" />
                                <input type="hidden" asp-for="SupplierId" value="@Model.SupplierId" />

                                <div class="form-outline mb-7">
                                    <label for="name" class="form-label">name</label>
                                    <input asp-for="name" class="form-control form-control-lg" id="name" />
                                    <span asp-validation-for="name" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-7">
                                    <label for="description" class="form-label">description</label>
                                    <input asp-for="description" class="form-control form-control-lg" id="description" />
                                    <span asp-validation-for="description" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="Price" class="form-label">Price</label>
                                    <input asp-for="Price" class="form-control form-control-lg" id="Price" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label asp-for="Image" class="form-label">Upload your material image</label>
                                    <input type="file" asp-for="Image" class="form-control form-control-lg" id="Image" />
                                    <span asp-validation-for="Image" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="quantity" class="form-label">quantity</label>
                                    <input asp-for="quantity" class="form-control form-control-lg" id="quantity" />
                                    <span asp-validation-for="quantity" class="text-danger"></span>
                                </div>
                                <div class="d-flex justify-content-center">

                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body m-md-5">Edit</button>
                                    <a asp-action="Index" class="btn btn-success btn-block btn-lg gradient-custom-6 text-body m-md-5">Back to List</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <!--Jquery-->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <!--Jquery Validation-->
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <!--Jquery unbotolsive-->
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

