@model IEnumerable<FinalASP.Models.SupplierMatrial>

@{
    ViewData["Title"] = "MarketPlace";
}
<div>
<partial name="_ResposiveNavPartial" />
</div>
    <div class="col-md-9">
        @foreach (var item in Model)
        {
            <div class="card" style="width: 18rem; display: inline-block;">
                <img src="\images\@item.Image" class="card-img-top" alt="@item.description" style="height:220px" />
                <div class="text-center card-body">
                Price: @item.Price EGP /KG
                    <p class="text-center card-text">@item.description</p>
                <a href="/cart/AddToCart/@item.id" class="text-center btn btn-primary">Add to cart</a>
                </div>
            </div>
        }
    </div>

