@model FinalASP.Models.VirtualKitchen

<partial name="_ResposiveNavPartial" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <partial name="_ProfileSidebarPartial" />
        </div>
        @*    <partial name="_SupplierSidepar" />
        *@     <div class="col-md-8">
            <partial name="_ChefProfilePartial" />
        </div>
    </div>
</div>

