
@{
    ViewData["Title"] = "Home Page";
}

<div>

    <div>
        <section>
            <div>
                <partial name="_ResposiveNavPartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-one">
                <partial name="_SectionOnePartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-two">
                <partial name="_SectionTwoPartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-four">
                <partial name="_SectionFourPartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-five">
                <partial name="_SectionFivePartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-six">
                <partial name="_SectionSixPartial" />
            </div>
        </section>
    </div>

    <div>
        <section>
            <div class="sec-seven">
                <partial name="_FooterPartial" />
            </div>
        </section>
    </div>
</div>

<style>
    .sec-one{
        position: absolute;
        top: 150px;
        width: 100%;
        left: 0;
        right: 0;
    }

    .sec-two {
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
    }

    .sec-four{
        width: 100%;
        height: 750px;
        position:absolute;
        top:1500px;
        right:0;
        left:0;
        background-color:white;
    }

    .sec-five {
        width: 100%;
        height: 750px;
        position: absolute;
        top: 2250px;
        right: 0;
        left: 0;
        background-color: #212529;
    }

    .sec-six {
        width: 100%;
        height: 750px;
        position: absolute;
        top: 3000px;
        right: 0;
        left: 0;
        background-color: white;
    }

    .sec-seven {
        width: 100%;
        height: 350px;
        position: absolute;
        top: 3750px;
        right: 0;
        left: 0;
        background-color: #212529;
    }
</style>

