@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
   @* <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>


@*<partial name="_HomeCardPartial" />
*@


@*<partial name="_DetailsCard" />*@


<partial name="_ResposiveNavPartial" />

@*By Haget this is the first slider*@


@*<partial name="_SliderPartial" /> *@


@*By Haget this is the second slider*@
@*<partial name="_SliderTwoPartial" />*@

<partial name="_FooterPartial" />