
@{
    ViewData["Title"] = "SupplierProfile";
    
}

<partial name="_ResposiveNavPartial"/>

<div class="row">

    <partial name="_ProfileSidebarPartial"/>

@*    <partial name="_SupplierSidepar" />
*@     <div class="col-md-9">
@*        <partial name="_DetailsSliderPartial" />
*@    </div>
</div>
@*<script src="~/js/site.js"></script>*@


