@{
    ViewData["Title"] = "SupplierProfile";
}

<partial name="_ResposiveNavPartial" />
<div class="row">
    <partial name="_SupplierSidepar" />
    <div class="col-md-9">
    </div>
</div>
@*<script src="~/js/site.js"></script>*@


