@{
    ViewData["Title"] = "SupplierProfile";
}

<h1>@ViewBag.Supplier.CompanyName's Profile</h1>

<div class="row">
    <partial name="_SupplierSidepar" />
    <div class="col-md-9">
    </div>
</div>
@*<script src="~/js/site.js"></script>*@


