@model Supplier
@{
    ViewData["Title"] = "SupplierProfile";
}

<h1>@Model.CompanyName Profile</h1>

<div class="row">
    <partial name="_SupplierSidepar" />
    <div class="col-md-9">
    </div>
</div>
@*<script src="~/js/site.js"></script>*@


