@model DeliveryCompany
@{
    ViewData["Title"] = "_DeliveryPartial";
}
<section class="vh73 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create New Delivery Company Account</h2>
                    <form method="post" asp-action="SaveNew" asp-controller="DeliveryCompany" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>

                                                <div class="form-outline mb-4">
                            <label for="CompanyName" class="form-label">CompanyName</label>
                            <input asp-for="CompanyName" class="form-control form-control-lg" id="CompanyName" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="CoverageArea" class="form-label">CoverageArea</label>
                            <input asp-for="CoverageArea" class="form-control form-control-lg" id="CoverageArea" />
                            <span asp-validation-for="CoverageArea" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Phone" class="form-label">Phone</label>
                            <input asp-for="Phone" class="form-control form-control-lg" id="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Domain" class="form-label">Domain</label>
                            <select asp-for="Domain" class="form-select form-select-lg" id="capacity">
                                <option value="Catering Delivery">Catering Delivery</option>
                                <option value="Order by order">Order by order</option>
                            </select>
                            <span asp-validation-for="Domain" class="text-danger"></span>
                        </div>

                        <div class="input-group mb-3">
                            <input asp-for="logo" type="file" class="form-control" id="inputGroupFile02">
                            <label asp-for="logo" class="input-group-text" for="inputGroupFile02">Upload</label>
                            <span asp-validation-for="logo" class="text-danger"></span>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>

