@model DeliveryCompany
@{
	Layout = "~/views/shared/_layoutregisttest.cshtml";
	ViewData["Title"] = "New";
}
<partial name="_DeliveryPartial" />

@*<form method="post" asp-action="SaveNew" asp-controller="DeliveryCompany">
	<div>
		<label asp-for="Name"></label>
		<input asp-for="Name" class="form-control" />
		<span asp-validation-for="Name" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Phone"></label>
		<input asp-for="Phone" class="form-control" />
		<span asp-validation-for="Phone" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Domain"></label>
		<select asp-for="Domain" class="form-control">
			<option>Order by order</option>
			<option>Catering Delivery</option>
		</select>
		<span asp-validation-for="Domain" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="Email"></label>
		<input asp-for="Email" class="form-control" />
		<span asp-validation-for="Email" class="text-danger"></span>
	</div>
	<div>
		<label asp-for="CoverageArea"></label>
		<input asp-for="CoverageArea" class="form-control" />
	</div>
	<br />
	<input type="submit" class="btn btn-primary" value="New Delivery" />
</form>
@section scripts{
	<script src="~/lib//jquery/dist/jquery.min.js"></script>
	<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
	<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}*@
