@model VirtualKitchen
@{
    ViewData["Title"] = "_ChefPartial";
}

<section <img src="~/images/foodRegester.jpg" class="vh-100 bg-image" />

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create New Chef Account</h2>
                    <form method="post" asp-action="SaveNew" asp-controller="VirtualKitchen" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-outline mb-4">
                            <label for="Name" class="form-label">Name</label>
                            <input asp-for="Name" class="form-control form-control-lg" id="Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Address" class="form-label">Address</label>
                            <input asp-for="Address" class="form-control form-control-lg" id="Address" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Phone" class="form-label">Phone</label>
                            <input asp-for="Phone" class="form-control form-control-lg" id="Phone" />
                            <span asp-validation-for="Phone" class="text-danger"></span>
                        </div>

                           <div class="form-outline mb-4">
                            <label for="Email" class="form-label">Email</label>
                            <input asp-for="Email" class="form-control form-control-lg" id="Email" />
                            <span asp-validation-for="Email" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Domain" class="form-label">Domain</label>
                            <select asp-for="Domain" class="form-select form-select-lg" id="capacity">
                                <option value="Fast Food">Fast Food</option>
                                <option value="Home-made cook">Home-made cook</option>
                                <option value="Pastry cook">Pastry cook</option>
                                <option value="Other">Other</option>
                            </select>
                            <span asp-validation-for="Domain" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="LogoImage" class="form-label">LogoImage</label>
                            <input type="file" asp-for="LogoImage" class="form-control form-control-lg" id="LogoImage" accept="images/*" />
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>
