@*<section>
    <div class="nav-style">
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="my-navbar">
            <div class="container-fluid d-flex justify-content-between">
                <div class="w-35">
                    <a class="navbar-brand" href="#">CloudKitchens</a>
                </div>
                    <div class="w-20">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-
                                controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="navbar-toggler-icon"></span>
                        </button>
                            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                                    <div>
                                    <li class="nav-item home-style">
                                        <i class="bi bi-house-door"></i>
                                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                                    </li>
                            </div>
                            <div>
                                <li class="nav-item login-style">
                                    <a href="#" class="btn btn-sm btn-outline-warning" role="button">Login</a>
                                </li>
                            </div>
                            <div>
                                <li class="nav-item registration-style">
                                    <a href="#" class="btn btn-sm btn-outline-warning" role="button">Registration</a>
                                </li>
                            </div>
                        </ul>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</section>

<style>
    .nav-style nav {
        background-color: black;
        display: flex;
        height: 80px;
        width: 100%;
        justify-content: flex-start;
        text-align: center;
        align-content: stretch;
        flex-wrap: nowrap;
        flex-direction: row;
        /*        flex-flow: row nowrap;*/
        position: relative;
    }
     .nav-style div {
         width: 80%;
         flex-grow: 1;
         flex-shrink: 1;
         flex-basis: auto;
     }

    .nav-style nav .navbar-brand {
        position: absolute;
        left: 10%;
        top: 20px;
        color: #ffc107 !important;
        font-family: monospace;
        font-size: x-large;
        font-weight: bold;
        outline: none;
     }
    .nav-style #my-navbar .nav-link {
        position: absolute;
        left: 25%;
        top: 18px;
        color: #ffc107;
        font-family: monospace;
        font-size: x-large;
        font-weight: inherit;
     }

        .nav-style nav .nav-item.login-style {
        position: absolute;
        right: 10%;
        top: 27px;
        font-family: monospace;
        font-size: x-large;
        font-weight: inherit;
   }
    .nav-style nav .nav-item.registration-style {
        position: absolute;
        right: 15%;
        top: 27px;
        font-family: monospace;
        font-size: x-large;
        font-weight: inherit;
    }
    .navbar-toggler {
        background-color: #ffc107;
        height: 36px;
        width: 53px;
    }
    .bi-house-door {
        position: absolute;
        left: 24%;
        color: #ffc107;
        top: 29px;
        font-size: 1rem;
    }
</style>*@


@*                   ------------Resposive Nav Zft-------------
*@

@*
<div class="nav-style">
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
                <a class="navbar-brand" href="#">CloudKitchens</a>
            <button id="btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon" id="icon"></span>
            </button>
            <div class="list-style">
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

                        <li class="nav-item home-style">*@

 @*                           <div class="d-flex">
                                <div>
                                    <i class="bi bi-house-door"></i>
                                </div>*@
@*                                <div>
                                    <a class="nav-link active" aria-current="page" href="#">
                                    <i class="bi bi-house-door"></i> Home
                                    </a>
                                </div>*@
    @*                        </div>*@


@*
                        </li>

                        <li class="nav-item login-style">

                            <div>
                                <a href="#" class="btn btn-sm btn-outline-warning" id="login" role="button">Login</a>
                            </div>

                        </li>

                        <li class="nav-item registration-style">

                            <div>
                                <a href="#" class="btn btn-sm btn-outline-warning" role="button">Registration</a>
                            </div>

                        </li>

                    </ul>
                </div>
            </div>

        </div>
    </nav>
</div>*@


@*
<style>

    .nav-style {
        height: 80px;
        width: 100%;
        padding-left: 10%;
        padding-right: 10%;
        background-color: black;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;*@
/*        gap: 20px;*/
/*    }

    #icon {
        background-color: #ffc107;
        border: 1px solid #ffc107;
        border-radius: 10%;
        margin-top: 50%;
    }*/




/*    .navbar-collapse {
        display: flex;
        align-items:center;
        justify-content: center;
    }
    */
 /*   // عايزه امسك العنصر الصح لم الدروب داون لست تشتغل يظهر ل ستايل دا*/

/*    .navbar-toggler {
            background-color: black;
            width: 110px;
            border: 1px solid #ffc107;
            border-radius: 10%;
    }*/




/*    .nav-style .list-style ul {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        gap: 25px;
    }

    .nav-style .list-style ul li {
        
    }*/





    /*
    li:first-child {
        margin-left: 5% 
    }

    li:nth-child(2) {
        margin-left: 10%;
    }*/




    
   /* .navbar-light .bi-house-door {
        color: #ffc107;
        font-family: monospace;
        font-size: large;
        font-weight: inherit;
    }

    .navbar-light .navbar-nav .nav-link.active {
        color: #ffc107;
        font-family: monospace;
        font-size: large;
        font-weight: inherit;
    }

    .navbar-light .navbar-brand {
        color: #ffc107;
        font-family: monospace;
        font-size: x-large;
        font-weight: bold;
    }


</style>

*/


 








