
<nav class="navbar navbar-expand-lg navbar-light text-bg-dark bg-light">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">CloudKitchen</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <div class="d-flex home-icon-style">
                            <div>
                                  <i class="bi bi-house-door"></i>
                            </div>

                            <div>
                                  <a class="nav-link active" aria-current="page" href="#">Home</a>
                            </div>
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Resources
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">BLA BLA</a></li>
                            <li><a class="dropdown-item" href="#">BLA BLA</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#">ABOUT US</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex gap-1">
                <a class="btn btn-outline-dark" href="#">Login</a>
                <a class="btn btn-outline-dark" href="#">Registration</a>
                </form>
            </div>
        </div>
    </nav>



<style>

    * {
        font-family: monospace;
        font-size: x-large;
        font-weight: inherit;
    }

    .navbar-light .navbar-toggler {
        color: white;
        border: 1px solid;
    }

    .navbar-brand {
        font-family: monospace;
        font-size: xx-large;
        font-weight: bold;
    }

    .container-fluid {
        height : 80px;
        border-bottom: 1px solid black;
/*        border-top: 1px solid black;*/
/*        margin-top: 3px;*/
    }

    .bi-house-door {
        color: black;
        font-size: large;
    }

    .home-icon-style {
        flex-direction: row;
        align-items: center;
    }

</style>