@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<nav class="navbar navbar-expand-lg navbar-dark text-bg-light bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand mb-0 h1" href="#">Kitcheniro</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <div class="d-flex home-icon-style">
                            <div>
                                  <i class="bi bi-house-door"></i>
                            </div>

                            <div>
                                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </div>
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Services</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            @{
                if (User.IsInRole("Supplier") || User.IsInRole("Chef") || User.IsInRole("Delivery") || User.IsInRole("Kitchen"))
                {
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                            <strong>@User.Identity.Name</strong>
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            @{
                                string url=string.Empty;
                                if (User.IsInRole("Supplier"))
                                {
                                    url = "/Supplier/SupplierProfile";
                                }
                                else if (User.IsInRole("Chef"))
                                {
                                    url = "/VirtualKitchen/ChefProfile";
                                }
                                else if (User.IsInRole("Delivery"))
                                {
                                    url = "/DeliveryCompany/DeliveryProfile";
                                }
                                else if (User.IsInRole("Kitchen"))
                                {
                                    url = "/PhysicalKitchen/PhyKitchenProfile";
                                }
                            }
                            <li><a class="dropdown-item" href="@url">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/ClientLogOut/LogOut">Sign out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <form class="d-flex gap-1">
                        <a class="btn btn-outline-light" href="/ClientLogIn/LogIn">Login</a>
                        <a class="btn btn-outline-light" href="/ClientRegistration/Registration">Registration</a>
                    </form>
                }
            }

            
                
            </div>
        </div>
    </nav>



<style>

    nav {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%
    }

    .container-fluid {
        
    }

    * {
        font-family: monospace;
        font-size: x-large;
        font-weight: inherit;
    }

    .navbar-light .navbar-toggler {
        color: white;
        border: 1px solid;
    }

    .navbar-brand {
        font-family: monospace;
        font-size: xx-large;
        font-weight: bold;
    }

    .container-fluid {
        height: 80px;
        width: 100%;
/*        border-top: 1px solid black;*/
/*        margin-top: 3px;*/
    }

    .bi-house-door {
        color: white;
        font-size: large;
    }

    .home-icon-style {
        flex-direction: row;
        align-items: center;
    }

</style>