@using Microsoft.AspNetCore.Authorization
<nav class="navbar navbar-expand-lg navbar-dark text-bg-light bg-dark">
        <div class="container-fluid">
        <a class="navbar-brand mb-0 h1 d-flex" href="#">
            <img class="logo-one" src="~/images/logo.png" alt="Kitcheniro Logo">     
            <img class="logo-two" src="~/images/kitcheniro kaas3.png" alt="Kitcheniro Logo">

@*            <span id="Kitchenir"> Kitchenir <span id="o">o</span></span>
*@        </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        <div class="collapse navbar-collapse bg-dark" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 d-flex">
                    <li class="nav-item">
                        <div class="d-flex home-icon-style">
                            <div>
                                  <i class="bi bi-house-door"></i>
                            </div>

                            <div>
                                  <a class="nav-link active" aria-current="page" href="/">Home</a>
                            </div>
                        </div>
                       
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="/Kitchen/index">OutKitchens</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact Us</a>
                    </li>
                </ul>
            @{
                if (User.IsInRole("Supplier") || User.IsInRole("Chef") || User.IsInRole("Delivery") || User.IsInRole("Kitchen"))
                {
                    string url=string.Empty;
                    string src = $"/images/{@MyGeneralModel.Image}";

                    if (User.IsInRole("Supplier"))
                    {
                        url = "/Supplier/SupplierProfile";
                       
                    }
                    else if (User.IsInRole("Chef"))
                    {
                        url = "/VirtualKitchen/ChefProfile";
                       
                    }
                    else if (User.IsInRole("Delivery"))
                    {
                        url = "/DeliveryCompany/DeliveryProfile";
                       
                    }
                    else if (User.IsInRole("Kitchen"))
                    {
                        url = "/PhysicalKitchen/PhyKitchenProfile";
                        
                    }
                    <div class="dropdown">
                        <a href="#" class="d-flex align-items-center link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false" >
                            <strong class="username-login-style">@User.Identity.Name</strong>
                            <img src="@src" alt="" width="32" height="32" class="rounded-circle me-2">
                        </a>
                        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                            <li><a class="dropdown-item" href="@url">Profile</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/ClientLogOut/LogOut">Sign out</a></li>
                        </ul>
                    </div>
                }
                else
                {
                    <form class="d-flex gap-1 home-form-style">
                        <a class="btn btn-outline-light" href="/ClientLogIn/LogIn">Login</a>
                        <a class="btn btn-outline-light" href="/ClientRegistration/Registration">Registration</a>
                    </form>
                }
            }

            
                
            </div>
        </div>
    </nav>



<style>
    .logo-one{
        height: 65px;
        width: 155px;
    }
    

    .logo-two {
        height: 30px;
        width: 138px;
    }
    /*    .navbar-dark .navbar-brand {
        color: #ff9200;
    }*/

    #Kitchenir:hover {
        color: white;
    }

    #o:hover {
        color: white;
    }

    #Kitchenir:hover #o {
        color: white;
    }

    #Kitchenir {
        color: #fff107;
        display: flex;
        font-size: 30px;
        font-family: monospace;
        font-weight: inherit;
    }

    #o {
        color: #ff9200;
        font-size: 30px;
        font-family: monospace;
        font-weight: inherit;
    }

    nav {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 130px;
        width: 100%;
    }

    .navbar {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 130px;
        width: 100%;
    }
   

    .container-fluid {
        
    }

    * {
        font-family: monospace;
        font-size: 25px;
        font-weight: inherit;
    }

    .navbar-dark .navbar-toggler {
        color: white;
        border: 1px solid;
    }

    .navbar-brand {
        color: #ff9200;
        font-family: monospace;
        font-size: 30px;
        font-weight: bold;
        display: flex;
        align-items: center;
        flex-direction: column;
        flex: auto;
        gap:8px;
        padding-top: 1px;
    }

        .navbar-brand img  {
/*            width: 160px;
            height: 70px;*/
    }  

    .navbar-nav {
        align-items: center;
        justify-content: center;
        gap: 10px;
        flex: initial;
    }

    .container-fluid {
        height: 80px;
        width: 100%;
/*        border-top: 1px solid black;*/
/*        margin-top: 3px;*/
    }

    .bi-house-door {
        color: white;
        font-size: x-large;
    }

    .home-icon-style {
        flex-direction: row;
        align-items: center;
    }

    .dropdown {
        right: 30px;
    }

    #dropdownUser2 {
        color:white;
        flex-direction: initial;
        justify-content: space-around;
        gap: 10px;
    }

    .username-login-style{
        color: white;
        right: 25px;
        padding-right: 5px;
    }

/*    same as before
    p, strong {
        color: white;
        right: 25px;
        padding-right: 5px;
    }*/

    .rounded-circle {
        width: 60px;
        height: 60px;
        right: 30px;
    }

    .home-form-style{
        padding-right: 20px;
    }
</style>
