<div class="container-sec-five">
    <div class="sub-five">
        <header >
            Our Services

        </header>
        <p >
            KITCHENIRO  is a business-to-business (B2B) company based on (Kitchen as a service model) that provides virtual kitchens services to the food and beverage industry,  increasing utilization rates for existing kitchens.
        </p>

        <div class="icons-five d-flex">
            <div class="icon-one-five">
                <img src="~/images/kitchenn.png" class="d-block w-100" alt="icon">
                <p>
                    Rent your Kitchen

                </p>
            </div>

            <div class="icon-two-five">
                <img src="~/images/supply.png" class="d-block w-100" alt="icon">
                <p>
                    Book a Kitchen

                </p>
            </div>

            <div class="icon-three-five">
                <img src="~/images/booking.png" class="d-block w-100" alt="icon">
                <p>
                    Supply food & Materials
                </p>
            </div>

            <div class="icon-four-five">
                <img src="~/images/food-delivery.png" class="d-block w-100" alt="icon">
                <p>
                    Deliver Your orders
                </p>
            </div>

            <div class="icon-five-five">
                <img src="~/images/ads.png" class="d-block w-100" alt="icon">
                <p>
                    Promote Your business

                </p>
            </div>
        </div>
    </div>
</div>

<style>
    .container-sec-five {
        width: 100%;
        height: 750px;
        right: 0;
        left: 0;
        padding: 6% 10%;
    }

    .icons-five {
        right: 13%;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        width: 75%;
    }

        .icons-five img {
            height: 75%;
            padding-top: 1%;
        }

        .icons-five p {
            padding-top: 1%;
            margin-top: 20%;
            font-family: monospace;
            color:white;
        }

    .sub-five {
        padding-bottom: 1%;
    }

        .sub-five header {
            font-size: 30px;
            text-align: center;
            font-family: monospace;
            color: white;
        }

        .sub-five p {
            padding-top: 1%;
            font-size: 25px;
            text-align: center;
            font-family: monospace;
            color: white;
        }
</style>
