<div class="container-sec-four">
    <div class="sub">
        <header class="subject-sec-four">
            Why KITCHENIRO ?

        </header>
        <p class="sub-subject-sec-four">
            At  KITCHENIRO, we aim to boost restaurant's income by injecting new virtual brands to their existing operating kitchens in order to maximize their utilization rate with the lowest cost possible. We hand over clear manuals, Recipes and supply chain providers in a smooth process that can be done overnight.
        </p>

        <div class="icons d-flex">
            <div class="icon-one">
                <img src="~/images/utility-rate.png" class="d-block w-100" alt="icon">
                <p>
                    Increase Utilization Rate
                </p>
            </div>

            <div class="icon-two">
                <img src="~/images/start-up.png" class="d-block w-100" alt="icon">
                <p>
                    Launch Your Brand
                </p>
            </div>
            
            <div class="icon-three">
                <img src="~/images/cost.png" class="d-block w-100" alt="icon">
                <p>
                    Reduce Cost
                </p>
            </div>

            <div class="icon-four">
                <img src="~/images/profits.png" class="d-block w-100" alt="icon">
                <p>Boost Monthly Profit</p>
            </div>

            <div class="icon-five">
                <img src="~/images/customers.png" class="d-block w-100" alt="icon">
                <p>
                    Serve New Customers
                </p>
            </div>
</div>
    </div>
</div>

                    <style>
                        .container-sec-four{
                            width: 100%;
                            height: 750px;
                            right:0;
                            left:0;
        padding: 6% 10%;

                        }

                        .icons{
        right: 13%;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        width: 75%;
                        }

                        .icons img {
                           height:75%;
                            padding-top:1%;
                        }

                        .icons p {
            padding-top: 1%;
            margin-top: 20%;
            font-family: monospace;
/*            color: black;*/
                        }
    .icon-one{

    }

    .icon-one img{

    }

    .icon-one p {
/*            color: black;*/
    }

    .icon-two {
    }

        .icon-two img {
        }

        .icon-two p {
/*            color: black;*/
        }

    .icon-three {
    }

        .icon-three img {
        }

        .icon-three p {
/*            color: black;*/
        }

    .icon-four {
    }

        .icon-four img {
        }

        .icon-four p {
    /*        color: black;*/
        }

    .icon-five {
    }

        .icon-five img {
        }

        .icon-five p {
/*            color: black;
*/        }

    .subject-sec-four {
/*        color: black;
*/
        }

    .sub-subject-sec-four {
/*        color: black;
*/        }

        .sub {
        padding-bottom:1%; 
        }

    .sub header {
/*        color:black;
*/        font-size: 30px;
        text-align: center;
            font-family: monospace;
    }
         .sub p{
            padding-top: 1%;
            font-size: 25px;
        text-align: center;
            font-family: monospace;
/*            color: black;
*/         }
             </style>