@*
        <div class="container-sec-two">
            
            <div class="content-sec-two d-flex">

                <div class="subject-content-sec-two d-flex">

                    <span>
                        KITCHENIRO Is The Future Of The
                    </span>

                    <span>
                        Cloud Kitchens
                    </span>

                </div>

                <div class="part-two-sec-two d-flex">

                    <div class="sub-subject-content-sec-two">

                        <span>
                            KITCHENIRO  is simplifying the lives of restaurant owner's, food entrepreneur's lives, food Suppliers and food Delivery Company who aim to fully utilize their existing kitchens, by providing a service to other food brands who have trouble launching new kitchens. Existing kitchens will operate multiple brands that are solely dependent on delivery, hence boosting their monthly sales and profit. The virtual brands will cover more areas with less cost. The food suppliers and the delivery companies will expand their customers network and make new deals.
                        </span>

                    </div>

                    <div class="img-sec-two">

                        <img src="~/images/concept.png" class="d-block w-100" alt="Kitchenerologo">

                    </div>

                </div>


            </div>

        </div>

<style>

    .container-sec-two {
        display:relative;
        height:500px;
        background-color: #212529;
    }

    .content-sec-two {
        flex-direction:column;
        align-items: center;
    }

    .subject-content-sec-two {
        flex-direction: column;
    }

    .part-two-sec-two {
        flex-direction: row;
        position:relative;
    }

    .subject-content-sec-two span {
        color: white;
    }

    .sub-subject-content-sec-two span {
        color: white;
        position: absolute;
    }

</style>*@

<div class="container-sec-two">
    <div class="content-sec-two d-flex">
        <div class="subject-content-sec-two">
            <span>
                KITCHENIRO Is The Future Of The
            </span>
            <span>
                Cloud Kitchens
            </span>
        </div>
        <div class="part-two-sec-two">
            <div class="sub-subject-content-sec-two">
                <p>
                    KITCHENIRO is simplifying the lives of restaurant owners, food entrepreneurs, food suppliers, and food delivery companies who aim to fully utilize their existing kitchens. It provides a service to other food brands that have trouble launching new kitchens. Existing kitchens will operate multiple brands that are solely dependent on delivery, boosting their monthly sales and profit. The virtual brands will cover more areas with less cost. Food suppliers and delivery companies will expand their customer network and make new deals.
                </p>
            </div>
            <div class="img-sec-two">
                <img src="~/images/concept.png" class="d-block w-100" alt="Kitchenerologo">
            </div>
        </div>
    </div>
</div>


<style>
    .container-sec-two {
        position: relative;
        top: 726px;
        height: 750px;
        background-color: #212529;
    }

    .content-sec-two {
        flex-direction: column;
        align-items: center;
    }

    .subject-content-sec-two {
        display: flex;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 100px;
    }

    .subject-content-sec-two span {
            color: white;
            font-size: 30px;
            font-family: monospace;
    }

    .part-two-sec-two {
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        align-items: flex-start;
    }

    .sub-subject-content-sec-two {
        position: absolute;
        right: 477px;
        width: 477px;
        top: 250px;
    }


    .img-sec-two {
        width: 700px;
    }

    .sub-subject-content-sec-two p {
        color: white;
        font-size: 20px;
        font-family: monospace;

    }

    .img-sec-two img {
        position: absolute;
        top: 272px;
        left: 280px;
        height: 350px;
    }
</style>