<div class="container-sec-six">
    <div class="sub-six">
        <header>
            Our Team


        </header>
        <p>
            “Success is best when it’s shared”.. So, We’ll be delighted if you join to our team in the journey of success.
        </p>

        <div class="icons-six d-flex">
            <div class="icon-one-six">
                <img src="~/images/galal.jpeg" class="d-block w-100 galal" alt="icon">
                <p>
                    Abdulrahman Galal
                

                </p>
                <p class="co-founder">
                    Co-Founder
                </p>

                <p>
                    <span>
                        <a href="https://www.linkedin.com/in/abdelrahman-m-galal/
"><i class="bi bi-linkedin"></i></a> <span></span>  <a href="https://github.com/Galalll

"><i class="bi bi-github"></i></a>
                    </span>
                </p>
            </div>

            <div class="icon-two-six">
                <img src="~/images/hagerr.png" class="d-block w-100 hager" alt="icon">
                <p>
                    Hagar Fathallah

                </p>
                <p class="co-founder">
                    Co-Founder
                </p>
                <p>
                    <span>
                        <a href="https://www.linkedin.com/in/hager-fathallah-aa0603268/
"><i class="bi bi-linkedin"></i></a> <span></span>  <a href="https://github.com/hagerfathallah1999

"><i class="bi bi-github "></i></a>
                    </span>
                </p>

            </div>

            <div class="icon-three-six">
                <img src="~/images/mm.png" class="d-block w-100 mariem" alt="icon">
                <p>
                    Mariam Hassan
                </p>
                <p class="co-founder">
                    Co-Founder
                </p>
                <p>
                    <span>
                        <a href="https://www.linkedin.com/in/mariam-hassan-gis/
"><i class="bi bi-linkedin"></i></a> <span></span>  <a href="https://github.com/MariamHassanElDeeb
"><i class="bi bi-github"></i></a>
                    </span>
                </p>

            </div>

            <div class="icon-four-six">
                <img src="~/images/magdy.jpeg" class="d-block w-100 magdy" alt="icon">
                <p>
                    Ahmed Magdy
                </p>
                <p class="co-founder">
                    Co-Founder
                </p>
                <p>
                    <span>
                        <a href="https://www.linkedin.com/in/ahmedmagdyokasha/
"><i class="bi bi-linkedin"></i></a> <span></span>  <a href="https://github.com/ahmedmagdyokasha
"><i class="bi bi-github "></i></a>
                    </span>
                </p>

            </div>

        </div>
    </div>
</div>

<style>
    .container-sec-six {
        width: 100%;
        height: 750px;
        right: 0;
        left: 0;
        padding: 6% 10%;
    }

    .icons-six {
        right: 13%;
        position: absolute;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 5%;
        width: 75%;
    }

        .icons-six img {
            height: 200px;
            border: 1px solid white;
            border-radius: 50%;
        }

        .icons-six p {
            margin-top: 10%;
            font-family: monospace;
            font-size:30px;

        }

    .sub-six {
    }

        .sub-six header {
            font-size: 30px;
            text-align: center;
            font-family: monospace;

        }

    .sub-six p {
/*            font-size: 33px;
*/            text-align: center;
            font-family: monospace;

        }



        .galal {

        }

        .hager {

        }

        .mariem {
            
        }

        .magdy {

        }

        .co-founder {
           
        }
</style>

