<div id="slider" class="slider-style">
    <img src="~/images/panana.jpg" alt="Image 1">
    <img src="~/images/oranges.jpg" alt="Image 2">
    <img src="~/images/peach.jpg" alt="Image 3">
</div>

<style>
    .slider-style {
        position: relative;
        overflow: hidden;
        height: 300px;
        width: 100%;
    }

        .slider-style img {
            position: absolute;
            top: 85px;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
        }

            .slider-style img.active {
                opacity: 1;
            }
</style>

<script>
    // Get the slider container and images
    const slider = document.getElementById("slider");
    const images = slider.getElementsByTagName("img");

    // Set the initial active image
    let currentImageIndex = 0;
    images[currentImageIndex].classList.add("active");

    // Define a function to change the active image
    function changeImage() {
        // Get the next image index
        let nextImageIndex = (currentImageIndex + 1) % images.length;

        // Fade out the current image
        images[currentImageIndex].style.opacity = "0";

        // Delay the update of active image
        setTimeout(() => {
            // Update the active image
            images[currentImageIndex].classList.remove("active");
            images[nextImageIndex].classList.add("active");

            // Fade in the next image
            images[nextImageIndex].style.opacity = "1";

            // Update the current image index
            currentImageIndex = nextImageIndex;
        }, 1000); // Delay of 1 second before updating active image
    }

    // Call the changeImage function every 3 seconds
    setInterval(changeImage, 3000);
</script>
