@model Supplier

@{
    ViewData["Title"] = "New Supplier";
}
<section <img src="~/images/foodRegester.png" class="vh-100 bg-image" />

    <div class="mask d-flex align-items-center h-100 gradient-custom-3">
        <div class="container h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="card" style="border-radius: 15px;">
                        <div class="card-body p-5">
                            <h2 class="text-uppercase text-center mb-5">Create New Supplier Account</h2>
                    <form method="post" asp-action="SaveNew" asp-controller="Supplier" enctype="multipart/form-data">
                        <div asp-validation-summary="All" class="text-danger"></div>

                        <div class="form-outline mb-4">
                            <label for="CompanyName" class="form-label">CompanyName</label>
                            <input asp-for="CompanyName" class="form-control form-control-lg" id="CompanyName" />
                            <span asp-validation-for="CompanyName" class="text-danger"></span>
                        </div>
                                                <div class="form-outline mb-4">
                            <label for="Username" class="form-label">Username</label>
                            <input asp-for="Username" class="form-control form-control-lg" id="Username" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Location" class="form-label">Location</label>
                            <input asp-for="Location" class="form-control form-control-lg" id="Location" />
                            <span asp-validation-for="Location" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="phone" class="form-label">phone</label>
                            <input asp-for="phone" class="form-control form-control-lg" id="phone" />
                            <span asp-validation-for="phone" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="Capacity" class="form-label">Capacity</label>
                            <select asp-for="Capacity" class="form-select form-select-lg" id="Capacity">
                                <option value="Retail">Retail</option>
                                <option value="Wholesaler">Wholesaler</option>
                            </select>
                            <span asp-validation-for="Capacity" class="text-danger"></span>
                        </div>

                        <div class="form-outline mb-4">
                            <label for="type" class="form-label">Type</label>
                            <select asp-for="type" class="form-select form-select-lg" id="type">
                                <option value="Fruits and Vegetables">Fruits and Vegetables</option>
                                <option value="Seafood">Seafood</option>
                                <option value="Meats">Meats</option>
                                <option value="Organic Food">Organic Food</option>
                                <option value="All Types">All Types</option>
                            </select>
                            <span asp-validation-for="type" class="text-danger"></span>
                        </div>
                        <div class="form-outline mb-4">
                            <label for="logo" class="form-label">Logo</label>
                            <input type="file" asp-for="logo" class="form-control form-control-lg" id="logo"/>
                        </div>

                        <div class="d-flex justify-content-center">
                            <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                        </div>
                    </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

 </section>
