@model FinalASP.Models.Kitchen

@{
    ViewData["Title"] = "Kitchen";
}
@if (User.IsInRole("Kitchen"))
{
<section class="container-siction-kit vh73 bg-image" style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
        <div class="container-mask-kit mask d-flex align-items-center h-100 gradient-custom-3">
            <div class="container-container-kit container h-100">
            <div class="container-row-kit row d-flex justify-content-center align-items-center h-100">
                <div class="container-col-kit col-12 col-md-9 col-lg-7 col-xl-6">
                    <div class="container-card-kit card" style="border-radius: 15px;">
                        <div class="container-card-body-kit card-body p-5">
                            <h2 class="text-uppercase text-center mb-7">Add New Kitchen</h2>
                            <form method="post" asp-action="AddKitchenToPhyKitchen" asp-controller="PhysicalKitchen" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <div class="form-outline mb-7">
                                    <label for="Name" class="form-label">Name</label>
                                    <input asp-for="Name" class="form-control form-control-lg" id="Name" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </div>

                                <div class="form-outline mb-7">
                                    <label for="Description" class="form-label">Description</label>
                                    <input asp-for="Description" class="form-control form-control-lg" id="Description" />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="Locaion" class="form-label">Locaion</label>
                                    <input asp-for="Locaion" class="form-control form-control-lg" id="Locaion" />
                                    <span asp-validation-for="Locaion" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label asp-for="KitchenImage1" class="form-label">Upload your Kitchen image</label>
                                    <input type="file" asp-for="KitchenImage1" class="form-control form-control-lg" id="KitchenImage1" />
                                    <span asp-validation-for="KitchenImage1" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label asp-for="KitchenImage2" class="form-label">Upload your Kitchen image</label>
                                    <input type="file" asp-for="KitchenImage2" class="form-control form-control-lg" id="KitchenImage2" />
                                    <span asp-validation-for="KitchenImage2" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label asp-for="KitchenImage3" class="form-label">Upload your Kitchen image</label>
                                    <input type="file" asp-for="KitchenImage3" class="form-control form-control-lg" id="KitchenImage3" />
                                    <span asp-validation-for="KitchenImage3" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="Phone" class="form-label">Phone</label>
                                    <input asp-for="Phone" class="form-control form-control-lg" id="Phone" />
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="Domain" class="form-label">Domain</label>
                                        <select asp-for="Domain" class="form-select form-select-lg" id="Domain" />
                                        <option value="Fast Food Resturant">Fast Food Resturant</option>
                                        <option value="Fine Dining Resturant">Fine Dining Resturant</option>
                                        <option value="Hotel Kitchen">Hotel Kitchen</option>
                                        <option value="Other">Other</option>
                                    <span asp-validation-for="Domain" class="text-danger"></span>
                                </div>
                                <div class="form-outline mb-7">
                                    <label for="Price" class="form-label">Price</label>
                                    <input asp-for="Price" class="form-control form-control-lg" id="Price" />
                                    <span asp-validation-for="Price" class="text-danger"></span>
                                </div>

                                <div class="d-flex justify-content-center">

                                    <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body m-md-5">Create</button>
                                    <a asp-action="Index" class="btn btn-success btn-block btn-lg gradient-custom-6 text-body m-md-5">Back to List</a>

                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<style>
    .h-100 {
    height: 100%!important;
    }

    .container-siction-kit{

    }

        .container-mask-kit {
        }

        .container-container-kit {
        }

        .container-row-kit {
        }

        .container-col-kit {
        }

        .container-card-kit{

        }

        .container-card-body-kit {

        }

        .container-card-body-kit h2 {

        }

        .container-card-body-kit form {

        }

            .container-card-body-kit form div{
            }


                .container-card-body-kit form div label{
                }

                .container-card-body-kit form div span{
                }
</style>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
}else
{
    <div>
    <h1>Your are Not Authorized To see this page</h1>
    </div>
}
