@model FinalASP.Models.PhysicalKitchen

<partial name="_ResposiveNavPartial" />
<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
            <partial name="_PhyKitchenSideBarPartial" />
        </div>
        @*    <partial name="_SupplierSidepar" />
        *@     <div class="col-md-8">
            <partial name="_PhyKitchenProfilePartial" />
        </div>
    </div>
</div>
<div class="kit-container">
    <partial name="_ResposiveNavPartial" />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <partial name="_ProfileSidebarPartial" />
            </div>
            @*    <partial name="_SupplierSidepar" />
            *@     <div class="col-md-8">
                <partial name="_PhyKitchenProfilePartial" />
            </div>
        </div>
    </div>
</div>


<style>
    .kit-container{
        position:relative;
        height:904px;
        width:100%;
        background-color:lightgray;
    }
</style>
